.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

/* start commented backslash hack \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* close commented backslash hack */

body {
	background-color: #f2f2f2;
	font-family: 'Lucida Grande';
	margin: 0px;
	padding: 0px;
}

#commit_header {
	width: auto;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}

#commit_header tr {
	vertical-align: top;
}

#authorTable {
	margin: -4px;
}

#rightcontent {
	float: none;
	margin: 5px;
	position: absolute;
	right: 0;
}

#buttons {
	float: left;
}

a.servicebutton {
	display: block;
	width: 80px;
	padding: 2px;
	margin-bottom: 4px;
	border: 1px solid #3465a4;
	background-color: #cce5ff;
	color: #204a87;
	font-size: 65%;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 2px;
}

.gravatar {
	padding: 0.1em;
	border: solid gray 1px;
	-webkit-border-radius: 2px;
	display: none;
}

.gravatar img {
	width: 2.9em;
	height: 2.9em;
	max-height: 60px;
	max-width: 60px;
	display: none;
}

.property_name {
	width: 6em;
	color: #7F7F7F;
	text-align: right;
	font-weight: bold;
}

#message_files {
	margin: 5px;
	padding-left: 1em;
	width: auto;
}

#header p.subject {
	font-size: 13px;
	padding: 5px;
	float: none;
	font-weight: bold;
}

p.subjectDetail {
    padding: 5px;
}

#files {
	margin-top: 1em;
	margin-left: 0.5em;
}

#files a {
	color: #666666;
	text-decoration: none;
}

#files a:hover {
	color: #4444ff;
	border-bottom: 1px solid #4444ff;
}

#files img {
	float: left;
	margin-right: 0.5em;
	margin-top: 1px;
}

#files p {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.clear_both {
	clear: both;
	display: block;
	height: 1px;
	line-height: 0;
	margin: 1em;
	visibility: hidden;
}

#details {
	font-family: Menlo;
	font-size: 10px;
	overflow: hidden;
	width: 600px;
}

hr {
	border: 0;
	height: 1px;
	margin: 0 8px;
	background-color: #DEDEDE;
	clear: both;
}

a {
	color: rgb(20, 79, 174);
}

a.showdiff {
	text-decoration: none;
	font-size: 1.3em;
}

.refs {
	font-size: 9px;
	font-family: Helvetica;
	border: 1px solid black;
	margin-right: 2px;
	padding: 1px 3px 1px 3px;
	-webkit-border-radius: 2px;
}

.refs.head {
	background-color: #aaf254;
}

.refs.remote {
	background-color: #b2dfff;
}

.refs.tag {
	background-color: #fced4f;
}

.refs.currentBranch {
	background-color: #fca64f;
}

#filelist {
	font-size: 13px;
	white-space: nowrap;
	width: 100%;
	padding: 10px 20px;
	border-collapse: collapse;
}

#filelist tr td {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#filelist a {
	margin-left: 10px;
	padding-left: 20px;
	text-decoration: none;
}

#filelist a:hover {
	text-decoration: underline;
}

#filelist a.A {
	background: url(../../images/added.png) no-repeat 0 center;
}

#filelist a.D {
	background: url(../../images/removed.png) no-repeat 0 center;
}

#filelist a.M {
	background: url(../../images/modified.png) no-repeat 0 center;
}

#filelist a.R,#filelist a.C {
	background: url(../../images/renamed.png) no-repeat 0 center;
}

#filelist span.add,#filelist span.rem {
	display: block;
	height: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: right;
	clear: both;
}

#filelist span.add {
	background-color: rgba(0, 255, 0, 0.199219);
}

#filelist span.rem {
	background-color: rgba(255, 0, 0, 0.199219);
}

#filelist td.bar {
	width: 50%;
	display: block;
}

#filelist td.add,#filelist td.rem {
	width: 1%;
	text-align: right;
}

#header {
	font-size: 13px;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(.7, #EAF2f6), color-stop(1, #e3ebf3));
}

#header table.references  td{
    text-align:right;
}

#header table.references  a,
#header table.references  p{
	font-family: Menlo, Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

#header p.time {
	margin-top: 2px;
	font-size: 11px;
	white-space: nowrap;
}

#header p.name {
	font-size: 13px;
	white-space: nowrap;
}

#header span.rol,p.time {
	color: gray;

}

#header img.avatar {
	float: left;
	padding: 2px;
	border: 1px solid black;
	margin: 0 5px 5px;
}

#header table.references {
	float: right;
	font-size: 12px;
	margin: 5px;
}

#header div.user {
	float: left;
	clear: left;
}

#header p {
	margin: 0;
}

#header div#badges {
	clear: left;
	float: left;
	margin: 5px;
	padding-bottom: 5px;
}

#diffs {
	width: 100%;
	display: block;
	padding-top: 10px;
	overflow: auto;
}

#diffs table.diff {
	-webkit-box-shadow:3px 3px 3px #ccc;
	width: 98%;
	margin: auto auto 20px 1%;
}

.filemerge {
	float: right;
	text-align: center;
}

/* scrollbars */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}