<html>
	<head>
		<title>Details for commit</title>
		<link rel="stylesheet" href="../../css/GitX.css">
		<link rel="stylesheet" href="../diff/diffWindow.css">
		<link rel="stylesheet" href="history.css">

		<script src="../../lib/GitX.js"></script>
		<script src="../../lib/md5.js"></script>
		<script src="../../lib/diffHighlighter.js"></script>
		<script src="../../lib/keyboardNavigation.js"></script>
		
		<script src="history.js"></script>
	</head>

	<body>
		<div id="commit"></div>
	</body>
</html>
