<html>
	<head>
		<title>Details for commit</title>
		<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"/>
		<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"/>
		<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"/>
		<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"/>
		
		<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<link rel="stylesheet" href="../diff/diffWindow.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<link rel="stylesheet" href="history.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<script src="history.js" type="text/javascript" charset="utf-8"></script>
	</head>
	
	<body>
		<div id="commit"></div>
	</body>
</html>
