stats/
build/
DerivedData/
/release/
.DS_Store
__pycache__/
*.pyc
/GitX.xcworkspace/xcuserdata
.idea
GitX.xcarchive/
GitX.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
GitX.xcworkspace/xcshareddata/swiftpm/
/Dev.xcconfig
