[submodule "objective-git"]
	path = External/objective-git
	url = git@github.com:gitx/objective-git.git
[submodule "Sparkle"]
	path = External/Sparkle
	url = git@github.com:sparkle-project/Sparkle.git
[submodule "SyntaxHighlighter"]
	path = External/SyntaxHighlighter
	url = git@github.com:syntaxhighlighter/syntaxhighlighter.git
[submodule "MGScopeBar"]
	path = External/MGScopeBar
	url = git@github.com:gitx/MGScopeBar.git
[submodule "External/MAKVONotificationCenter"]
	path = External/MAKVONotificationCenter
	url = git@github.com:mikeash/MAKVONotificationCenter
