<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitX</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.23.2924 [arm]</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
				<key>dateExpires</key>
				<string>01/02/2027</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>MGScopeBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RZN52RN5P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>ObjectiveGit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RZN52RN5P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2025</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
								<key>dateExpires</key>
								<string>01/02/2027</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>4RZN52RN5P</string>
								<key>name</key>
								<string></string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2025</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
								<key>dateExpires</key>
								<string>01/02/2027</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>4RZN52RN5P</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.4.0</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2025</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
								<key>dateExpires</key>
								<string>01/02/2027</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.security.app-sandbox</key>
								<true/>
								<key>com.apple.security.network.client</key>
								<true/>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>4RZN52RN5P</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.4.0</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2025</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
								<key>dateExpires</key>
								<string>01/02/2027</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>4RZN52RN5P</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.4.0</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RZN52RN5P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>gitx</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RZN52RN5P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4DDF42BFCA7B3E94E3B0C1905C78C1C8494597D1</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>gitx_askpasswd</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RZN52RN5P</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>GitX.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4RZN52RN5P</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>0.23-46-gfb8aa967</string>
		</dict>
	</array>
</dict>
</plist>
