<html>
	<head>
		<script src="../../lib/GitX.js"></script>
		<script src="../../lib/syntaxhighlighter_2.1.364/scripts/shCore.js"></script>
		<script src="../../lib/syntaxhighlighter_2.1.364/scripts/shBrushObjC.js"></script>
		<script src="source.js"></script>

		<link rel="stylesheet" href="source.css">
		<link rel="stylesheet" href="../../lib/syntaxhighlighter_2.1.364/styles/shCore.css">
		<link rel="stylesheet" href="../../lib/syntaxhighlighter_2.1.364/styles/shThemeDefault.css">
	</head>
	<body>
		<div id="message"></pre>
		<div id="source"></div>
	</body>
</html> 