<header>
  <h1>{{ site.title }}</h1>
  <div style="line-height:80%;"><p>{{ site.description }}</p>
    <p style="text-align:right;font-size:80%;"><em>By</em> developers, <em>for</em> developers.</p>
  </div>
  <p class="view"><a href="https://github.com/gitx/gitx">View the Project on GitHub <small>gitx/gitx</small></a></p>
  <ul>
    <!-- <li><a href="https://github.com/rowanj/gitx/zipball/master">Download <strong>Source</strong></a></li> -->
    <li><a href="http://builds.phere.net/GitX/development/GitX-dev.dmg">Download <strong>Package</strong></a></li>
    <li><a href="https://github.com/gitx/gitx">View On <strong>GitHub</strong></a></li>
  </ul>
</header>
