table.diff {
	font-family: Menlo, Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
	border: 1px solid #8f8f8f;
	width: 100%;
	border-collapse: collapse;
	margin-right: 5px;
	margin-left: 5px;
}

table.diff tr td {
	font-size: 11px;
	white-space: pre;
	padding-left: 5px;
	padding-right: 5px;
}

table.diff td.code {
	width: 100%;
	border-left: 2px solid #d0d0d0;
}

table.diff tr.header td {
	border: 1px solid #8f8f8f;
	padding: 5px;
}

table.diff tr td.r {
	border-left: 1px solid #909090;
}

table.diff tr.r {
	background-color: rgba(0,255,0,0.1);
}

table.diff tr.l {
	background-color: rgba(255,0,0,0.1);
}

table.diff tr.r td.code {
	border-left-color: rgba(0,255,0,0.2);
}

table.diff tr.l td.code {
	border-left-color: rgba(255,0,0,0.2);
}

table.diff thead tr td p {
	margin: 0;
}

#diff table.diff thead {
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, rgba(244, 244, 244,1)), color-stop(1, rgba(215,215,215,1)));
}

#diff table.diff thead tr td {
	padding: 5px;
}

#diff table.diff tbody tr.header {
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, rgba(206,206,206,1)), color-stop(1, rgba(166,166,166,1)));
/* Saf4

+, Chrome */
}