<html>
	<head>
		<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"/>
		<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"/>
		<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"/>
		<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"/>
		<script src="diffWindow.js" type="text/javascript" charset="utf-8"/>
		
		<link rel="stylesheet" href="diffWindow.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
	</head>
	
	<body>
		<div id="message"></div>
		<div id='diff'></div>
	</body>
</html>
