<html>
	<head>
		<script src="../../lib/GitX.js"></script>
		<script src="blame.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shCore.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shAutoloader.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushAS3.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushAppleScript.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushBash.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushColdFusion.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushCpp.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushCss.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushDelphi.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushDiff.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushErlang.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushGroovy.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushJScript.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushJava.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushJavaFX.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushObjC.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushPerl.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushPhp.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushPlain.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushPowerShell.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushPython.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushRuby.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushSass.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushScala.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushSql.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushVb.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushXml.js"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shLegacy.js"></script>
		
		<link rel="stylesheet" href="blame.css">
		<link rel="stylesheet" href="../../css/GitX.css">
		<link rel="stylesheet" href="../../css/shCoreGitX.css">
		<link rel="stylesheet" href="../../css/shThemeGitX.css">
	</head>
	<body>
		<div id="message"></div>
		<div id="blame"></div>
	</body>
</html>