name: build-gitx


on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-gitx:
    name: build-gitx
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        xcode: [Xcode_12.5, Xcode_13.1, Xcode_13.2, Xcode_13.0, Xcode_12.4]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set XCode Version
        run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
      - name: pre build
        run: cd External/objective-git && script/bootstrap && script/update_libgit2 && cd ../..
      - name: Build project
        run: set -o pipefail && xcodebuild -workspace GitX.xcworkspace -scheme GitX archive | xcpretty
